
<div class="header">
    <h1>My eCommerce Store</h1>
    <nav>
        <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">Products</a></li>
            <li><a href="#">About Us</a></li>
            <li><a href="#">Contact</a></li>
            <li><a href="#">FAQ</a></li>
            <li><a href="#">Blog</a></li>
        </ul>
    </nav>
</div>
<div class="main">
    <div class="product-list">
        <div class="product" *ngFor="let product of products">
            <h2>{{ product.product_id }}</h2>
            <p>{{ product.product_name }}</p>
            <img [src]="product.image_url" [alt]="product.altimage" >
            <!-- <button (click)="Decrementcart">-</button>
            <button (click)="AddToCart"> Add to Cart </button>
            <button (click)="Incrementcart" >+</button> -->
        </div>
    </div>
  


</div>
<div class="footer">
    <p>&copy; 2025 My eCommerce Store</p>
</div>

